{# memo_app/templates/memo_app/_export_modal.html #}
{% load i18n %}

<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exportModalLabel">{% trans "CSVエクスポートオプション" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{% url 'memo_app:learning_memo_export_csv' %}">
        {% csrf_token %}
        <div class="modal-body">
          <p>{% trans "以下の項目から、エクスポートしたいものを選択してください。" %}</p>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="fields" value="subject" id="checkSubject" checked>
            <label class="form-check-label" for="checkSubject">
              {% trans "科目" %}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="fields" value="year" id="checkYear" checked>
            <label class="form-check-label" for="checkYear">
              {% trans "年度" %}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="fields" value="lesson_date" id="checkLessonDate" checked>
            <label class="form-check-label" for="checkLessonDate">
              {% trans "授業日" %}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="fields" value="input_text" id="checkInputText" checked>
            <label class="form-check-label" for="checkInputText">
              {% trans "記録内容" %}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="fields" value="instruction_text" id="checkInstruction" checked>
            <label class="form-check-label" for="checkInstruction">
              {% trans "想定される質問例" %}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="fields" value="output_text" id="checkOutput" checked>
            <label class="form-check-label" for="checkOutput">
              {% trans "質問への回答例" %}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="fields" value="tags_list" id="checkTags" checked>
            <label class="form-check-label" for="checkTags">
              {% trans "タグ" %}
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "キャンセル" %}</button>
          <button type="submit" class="btn btn-primary" id="exportFromModalButton">{% trans "エクスポート" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>